<?xml version="1.0"?>
<launch>
  <arg name="nav" value="true" />
  <arg name="gui" value="false" />
  
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver"
   args="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world" respawn="false" output="screen" />

  <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" required="true"/>
  </group>

  <!-- include our robots -->
  <include file="$(find multi_robot)/launch/robots.launch"/>

  <!-- start navigation -->
  <group if="$(arg nav)">
    <include file="$(find multi_robot)/launch/navigation.launch"/>
  </group>

  <!-- dummy tfs if not running move_base -->
  <group unless="$(arg nav)">
    <node pkg="tf" type="static_transform_publisher" name="world_to_rb1"  
      args="0.5 0 0 0 0 0 /world /robot1_tf/odom 100"/>
    <node pkg="tf" type="static_transform_publisher" name="world_to_rb2"  
      args="-0.5 0 0 0 0 0 /world /robot2_tf/odom 100"/>
  </group>

  <!-- Start rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_robot)/config/multi_robot.rviz"/>

</launch>