<?xml version="1.0"?>
<launch>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebot3_navigation)/maps/map.yaml" >
    <param name="frame_id" value="map" />
  </node>

  <!-- start navigation -->
   <group ns="robot1">
    <include file="$(find multi_robot)/launch/move_base.launch" />
    <param name="tf_prefix" value="robot1_tf" />
    <param name="amcl/initial_pose_x" value="0.5" />
    <param name="amcl/initial_pose_y" value="0" />
    <param name="amcl/odom_frame_id" value="robot1_tf/odom" />
    <param name="amcl/base_frame_id" value="robot1_tf/base_link" />
    <param name="move_base/global_costmap/robot_base_frame" value="robot1_tf/base_footprint" />
    <param name="move_base/local_costmap/robot_base_frame" value="robot1_tf/base_footprint" />
    <param name="move_base/local_costmap/global_frame" value="robot1_tf/odom" />
    <param name="move_base/global_costmap/obstacle_layer/observation_sources" value="robot1/scan" />
    <param name="move_base/local_costmap/obstacle_layer/observation_sources" value="robot1/scan" />
  </group>

  <group ns="robot2">
    <include file="$(find multi_robot)/launch/move_base.launch" />
    <param name="tf_prefix" value="robot2_tf" />
    <param name="amcl/initial_pose_x" value="-0.5" />
    <param name="amcl/initial_pose_y" value="0" />
    <param name="amcl/odom_frame_id" value="robot2_tf/odom" />
    <param name="amcl/base_frame_id" value="robot2_tf/base_link" />
    <param name="move_base/global_costmap/robot_base_frame" value="robot2_tf/base_footprint" />
    <param name="move_base/local_costmap/robot_base_frame" value="robot2_tf/base_footprint" />
    <param name="move_base/local_costmap/global_frame" value="robot2_tf/odom" />
    <param name="move_base/global_costmap/obstacle_layer/observation_sources" value="robot2/scan" />
    <param name="move_base/local_costmap/obstacle_layer/observation_sources" value="robot2/scan" />
  </group>

</launch>